body {
	background-color: #f7f8fa;
}

.card {
	border: 1px solid #e9ecef;
	border-radius: .5rem;
}

table td, table th {
	white-space: nowrap;
}

.navbar-brand {
	color: white !important;
}

.navbar-brand:hover {
	color: #f8f9fa !important;
}



